body {
    background-color: #282c33;
    font-family: 'Muli', sans-serif;
    color:#FFF;
    height: 100%;
    margin: 0;
}

#songFileSelector {
    display: none;
}

#songFileSelector + label {
    background-color: #FFF;
    color: #282c33;
    padding: .5rem 1rem;
    font-size: 3rem;
    cursor: pointer;
    margin-top: -2rem;
}

#songFileSelector + label:hover {
    background-color: #949494;
}


h1 {
    margin: 0;
}

.h100, #root, html {
    height: 100%;
}

.dfc {
    display: flex;
    flex-direction: column;
}

.sidebar {
    border-right: solid 3px #FFF;
    height: 100%;
}

.song-name-select {
    margin: .4rem 1rem;
    cursor: pointer;
}

.song-name-select.selected {
    text-decoration: underline;
}

.song-name {
    font-size: 1.4rem;
    margin-left: 1rem;
    margin-top: 1rem;
}

.song-comments {
    color: lightgrey;
    font-style: italic;
    margin-left: 1rem;
}

.section-comments {
    color: lightgrey;
    font-style: italic;
}

.section {
    display: inline-block;
    background-color: #515760;
    margin: 1rem;
    margin-bottom: 0; 
    padding: .3rem .5rem;
}

.section-name {
    font-size: 2rem;
}

.section-body {
    font-size: 3.5rem;
}
